
/*estilo para una clase (azul)*/
/*.azul{
	color: blue;
}*/

/*estilo para un id (rojo)*/
/*#rojo{
	color: pink;
}*/

/*estilo para una etiqueta (h1)*/
/*h1{
	color: grey;
}*/

/*predomina primero especificar el estilo en el html (inline) luego en id y clases (entre estos predomina lo que pongas mas tarde en el codigo) y por ultimo en etiquetas  */
body{
	text-align: center;
	font-family: "Roboto";
}

h1{
	font-size: 24px;
}

h2{
	font-size: 18px;
	color: #949494;
	margin-bottom: 209px;
}

/*posicion absoluta: elimina el orden predeterminado de insercion de los elementos 
left y top: situan la ESQUINA SUPERIOR IZQUIERDA de nuestra cajita (layout center-screen) en el centro del layout padre (en este caso el body, es decir la pantalla entera)
transform: translate (-50%,-50%); pone el CENTRO de la cajita en el centro*/
.center-screen{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.green-button{
	width: 144px;
	height: 36px;
	background-color: #009688;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	border: none;
	font-family: "Roboto"; 
	box-shadow: 0px 2px rgba(0,0,0,0.15);
	display: block;
	margin: 0 auto 28px;

}